p {
    font-style: italic;
    font-weight: bold;
    font-family: Courier New;
}

body {
    background-color: lightBlue;
    color: white;
    text-align: center;
}

button {
    color: black;
    font-style: italic;
    font-weight: bold;
    font-family: Courier New;
}

input {
    font-weight: bold;
    text-align: right;
}

head {
    text-align: right;
}